<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Olai - Shop</title>
	<link rel="icon" href="" type="image/png">
  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css">

  <style >
.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}
  </style>

</head>
<body>
  <!--================ Start Header Menu Area =================-->
	<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="/"><img class="logo" src="Asset 4.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item active"><a class="nav-link" href="/category">Shop</a></li>
              <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>

            <ul class="nav-shop">
              <li class="nav-item"><button><i class="ti-search"></i></button></li>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#cart"><i class="ti-shopping-cart"></i> (<span class="total-count"></span>)</button>
              <% if(user){ %>
            <!--Welcome...!!--><li><a href=""><span class="fa fa-user"></span>
            <% if (user.twitter.username != null) { %>
            <%= user.twitter.username %>
            <% } else if (user.google.email != null) { %>
            <%= user.google.email %>
            <% } else if (user.facebook.name  != null)  { %>
            <%= user.facebook.name  %>
            <% } else { %>
            <%= user.local.lastname %>
            <% } %>
            </a>
            </li>
             <li><a href="/logout"><span class="fa fa-sign-out"></span>Logout</a></li>
             <% } else{ %>
              <li class="nav-item"><a class="button button-header"href="/login"><span class="fa fa-lock fa-lg"></span> Login</a></li>
              <!-- <li class=""><a href="/signup"><span class="fa fa-user fa-lg"></span> Sign Up</a></li> -->
              <% } %>

            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
	<!--================ End Header Menu Area =================-->

	<!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shop Category</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->


	<!-- ================ category section start ================= -->
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Browse Categories</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form action="#">
                  <ul>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="Handicraft Item" name="brand"><label for="Handicraft Item">Handicraft Item</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="Food Item" name="brand"><label for="Food Item">Food Item</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="Kitchen Tool" name="brand"><label for="Kitchen Tool">Kitchen Tool</label></li>
                  </ul>
                </form>
              </li>
            </ul>
          </div>
          <div class="sidebar-filter">
            <div class="top-filter-head">Product Filters</div>
            <div class="common-filter">
              <div class="head">Brands</div>
              <form action="#">
                <ul>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Hat" name="brand"><label for="Hat">Hat</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Tray" name="brand"><label for="Tray">Tray</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Mug Pad" name="brand"><label for="Mug Pad">Mug Pad</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Shopping Basket" name="brand"><label for="Shopping Basket">Shopping Basket</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Hand Bag" name="brand"><label for="Hand Bag">Hand Bag</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Flower Vase" name="brand"><label for="Flower Vase">Flower Vase</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Table Mat" name="brand"><label for="Table Mat">Table Mat</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Purse" name="brand"><label for="Purse">Purse</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Photo Frame" name="brand"><label for="Photo Frame">Photo Frame</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Fan" name="brand"><label for="Fan">Fan</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Neetupetti" name="brand"><label for="Neetupetti">Neetupetti</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Jaggery Cube" name="brand"><label for="Jaggery Cube">Jaggery Cube</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Jaggery Powder" name="brand"><label for="Jaggery Powder">Jaggery Powder</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Tuber Flour" name="brand"><label for="Tuber Flour">Tuber Flour</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Odiyal Flour" name="brand"><label for="Odiyal Flour">Odiyal Flour</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="Odiyal Boiled Chips" name="brand"><label for="Odiyal Boiled Chips">Odiyal Boiled Chips</label></li>
                </ul>
              </form>
            </div>

            <div class="common-filter">
              <div class="head">Price</div>
              <div class="price-range-area">
                <div id="price-range"></div>
                <div class="value-wrapper d-flex">
                  <div class="price">Price:</div>
                  <span>$</span>
                  <div id="lower-value"></div>
                  <div class="to">to</div>
                  <span>$</span>
                  <div id="upper-value"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">
              <select>
                <option value="1">Default sorting</option>
                <option value="1">Default sorting</option>
                <option value="1">Default sorting</option>
              </select>
            </div>
            <div class="sorting mr-auto">
              <select>
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
              </select>
            </div>
            <div>
              <div class="input-group filter-bar-search">
                <input type="text" placeholder="Search">
                <div class="input-group-append">
                  <button type="button"><i class="ti-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Filter Bar -->

          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="Myimg/hat.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <!--<li><button><i class="ti-search"></i></button></li> -->
                      <a href="#" data-name="Hat" data-price="150" class="add-to-cart"><li><button>Add to cart</button></li></a>
                      <!-- <li><button><i class="ti-shopping-cart"></i></button></li> -->
                      <!--<li><button><i class="ti-heart"></i></button></li> -->
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Handicraft Item</p>
                    <h4 class="card-product__title"><a href="/single-product">Hat</a></h4>
                    <p class="card-product__price">$150.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="Myimg/tray.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <!--<li><button><i class="ti-search"></i></button></li> -->
                      <a href="#" data-name="Tray" data-price="150" class="add-to-cart"><li><button>Add to cart</button></li></a>
                      <!-- <li><button><i class="ti-shopping-cart"></i></button></li> -->
                      <!--<li><button><i class="ti-heart"></i></button></li> -->
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Handicraft Item</p>
                    <h4 class="card-product__title"><a href="/single-product">Tray</a></h4>
                    <p class="card-product__price">$150.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="Myimg/mugpad1.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <!--<li><button><i class="ti-search"></i></button></li> -->
                      <a href="#" data-name="Mug_pad" data-price="150" class="add-to-cart"><li><button>Add to cart</button></li></a>
                      <!-- <li><button><i class="ti-shopping-cart"></i></button></li> -->
                      <!--<li><button><i class="ti-heart"></i></button></li> -->
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Handicraft Item</p>
                    <h4 class="card-product__title"><a href="/single-product">Mug pad</a></h4>
                    <p class="card-product__price">$150.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="Myimg/basket.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <!--<li><button><i class="ti-search"></i></button></li> -->
                      <a href="#" data-name="Shopping_Basket" data-price="150" class="add-to-cart"><li><button>Add to cart</button></li></a>
                      <!-- <li><button><i class="ti-shopping-cart"></i></button></li> -->
                      <!--<li><button><i class="ti-heart"></i></button></li> -->
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Handicraft Item</p>
                    <h4 class="card-product__title"><a href="/single-product">Shopping Basket</a></h4>
                    <p class="card-product__price">$150.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="Myimg/Black-Jaggery.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <!--<li><button><i class="ti-search"></i></button></li> -->
                      <a href="#" data-name="Jaggery" data-price="150" class="add-to-cart"><li><button>Add to cart</button></li></a>
                      <!-- <li><button><i class="ti-shopping-cart"></i></button></li> -->
                      <!--<li><button><i class="ti-heart"></i></button></li> -->
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Food Item</p>
                    <h4 class="card-product__title"><a href="/single-product">Jaggery</a></h4>
                    <p class="card-product__price">$150.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="Myimg/flower vase1.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <!--<li><button><i class="ti-search"></i></button></li> -->
                      <a href="#" data-name="Flower_Vase" data-price="150" class="add-to-cart"><li><button>Add to cart</button></li></a>
                      <!-- <li><button><i class="ti-shopping-cart"></i></button></li> -->
                      <!--<li><button><i class="ti-heart"></i></button></li> -->
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Handicraft Item</p>
                    <h4 class="card-product__title"><a href="/single-product">Flower Vase</a></h4>
                    <p class="card-product__price">$150.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="Myimg/tablemat.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <!--<li><button><i class="ti-search"></i></button></li> -->
                      <a href="#" data-name="Shopping_Basket" data-price="150" class="add-to-cart"><li><button>Add to cart</button></li></a>
                      <!-- <li><button><i class="ti-shopping-cart"></i></button></li> -->
                      <!--<li><button><i class="ti-heart"></i></button></li> -->
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Handicraft Item</p>
                    <h4 class="card-product__title"><a href="/single-product">Table Mat</a></h4>
                    <p class="card-product__price">$150.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="Myimg/handbag.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <!--<li><button><i class="ti-search"></i></button></li> -->
                      <a href="#" data-name="Shopping_Basket" data-price="150" class="add-to-cart"><li><button>Add to cart</button></li></a>
                      <!-- <li><button><i class="ti-shopping-cart"></i></button></li> -->
                      <!--<li><button><i class="ti-heart"></i></button></li> -->
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Handicraft Item</p>
                    <h4 class="card-product__title"><a href="/single-product">Hand Bag</a></h4>
                    <p class="card-product__price">$150.00</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="Myimg/jaggery powder.jpg" alt="">
                    <ul class="card-product__imgOverlay">
                      <!--<li><button><i class="ti-search"></i></button></li> -->
                      <a href="#" data-name="Shopping_Basket" data-price="150" class="add-to-cart"><li><button>Add to cart</button></li></a>
                      <!-- <li><button><i class="ti-shopping-cart"></i></button></li> -->
                      <!--<li><button><i class="ti-heart"></i></button></li> -->
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>Food Item</p>
                    <h4 class="card-product__title"><a href="/single-product">Jaggery Powder</a></h4>
                    <p class="card-product__price">$150.00</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Best Seller -->

        </div>
      </div>
    </div>
  </section>
	<!-- ================ category section end ================= -->

	<!-- ================ Subscribe section start ================= -->
  <section class="subscribe-position">
    <div class="container">
      <div class="subscribe text-center">
        <h3 class="subscribe__title">Get Update From Anywhere</h3>
        <p>Bearing Void gathering light light his eavening unto dont afraid</p>
        <div id="mc_embed_signup">
          <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
            <div class="form-group ml-sm-auto">
              <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" >
              <div class="info"></div>
            </div>
            <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
            <div style="position: absolute; left: -5000px;">
              <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
            </div>

          </form>
        </div>

      </div>
    </div>
  </section>
	<!-- ================ Subscribe section end ================= -->


  <!--================ Start footer Area  =================-->
	<footer>
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Olai</h4>
              <p style="text-align:justify">
               Olai is a business for palmyra products. We design and produce alternatives to replace your daily life things with palmyra products. You can purchase our products with good quality.
              </p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
								<li><a href="#">Home</a></li>
								<li><a href="#">Shop</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title">Gallery</h4>
              <ul class="list instafeed d-flex flex-wrap">
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
              </ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
              <div class="ml-40">
                <p class="sm-head">
                  <span class="fa fa-location-arrow"></span>
                  Head Office
                </p>
                <p>Kilinochchi, Northern province, Sri Lanka</p>

                <p class="sm-head">
                  <span class="fa fa-phone"></span>
                  Phone Number
                </p>
                <p>
                  +94 77 845 4717 <br>
                  +94 70 250 7219
                </p>

                <p class="sm-head">
                  <span class="fa fa-envelope"></span>
                  Email
                </p>
                <p>
                  yathushaky@gmail.com <br>
                  yorathi178@gmail.com
                </p>
              </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
          <p class="col-lg-12 footer-text text-center">
            This Website is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Olai</a>
          </p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->
  <!-- Modal -->
  <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="show-cart table">

          </table>

          <div>Total price: $<span class="total-cart"></span></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="/checkout"><button type="submit" class="btn btn-primary">Order now</button>
        </div>
      </div>
    </div>
  </div>

  <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="vendors/skrollr.min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="vendors/nouislider/nouislider.min.js"></script>
  <script src="vendors/jquery.ajaxchimp.min.js"></script>
  <script src="vendors/mail-script.js"></script>
  <script src="js/main.js"></script>
  <script src="js/order.js"></script>

</body>
</html>
